<div class="jumbotron">
  <div class="row">
  <div class="col-xs-6">
    <h1>About</h1>
    <p>We are a cat dating service, for cat2cat dating and transimals</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
  <div class="col-xs-6">
    <h1>Sennacy</h1>
    <p>Is a 7 yo siamese cat who enjoys watching the fish tank</p>
  </div>
  </div>

</div>
<div class="row text-center">
  <h1>Meet the team</h1>

<div class="col-xs-3">
  <%= image_tag("pic1.jpg", class: "img-circle", height: '200px', width: '200px')%>
  <h2>Dr Purrs</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="col-xs-3">
  <%= image_tag("pic2.jpg", class: "img-circle", height: '200px', width: '200px')%>
  <h2>Professor wiggles</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="col-xs-3">
  <%= image_tag("pic3.jpg", class: "img-circle", height: '200px', width: '200px')%>
  <h2>Fluffy the cat esquire</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="col-xs-3">
  <%= image_tag("pic4.jpg", class: "img-circle", height: '200px', width: '200px')%>
  <h2>Paul</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>


</div>