<div class="row">
<div class="col-xs-6">
  <h1>Contact</h1>
  <form action="" method="">
    <input
       name="_method"
       type="hidden"
       value="">
    <input
       name="authenticity_token"
       type="hidden"
       value="">

    <div class="form-group form-group-name">
      <label for="full_name">Full Name</label>
      <input
        id="full_name"
        name="user[full_name]"
        type="text"
        class="form-control form-control-name">
    </div>
    <br>

    <div class="form-group form-group-email">
      <label for="email">Email Address</label>
      <input
        id="email"
        name="user[email]"
        type="text"
        class="form-control form-control-email">
    </div>
    <br>

    <button id="contact-target" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="col-xs-6">
  <table class="table table-striped">
    <th>Name</th>
    <th>Phone Number</th>
    <tr>
      <td>Joe Mama</td>
      <td>1-800-666-6666</td>
    </tr>

    <tr>
      <td>Jerry</td>
      <td>867-555-1234</td>
    </tr>
  </table>
</div>
</div>